<nav class="navbar navbar-dark bg-dark mb-5" fxLayout="line" fxLayoutGap="2%">
    <a class="navbar-brand margin-left-1" href="#">
        <img src="https://www.svgrepo.com/show/23035/calendar.svg" width="50" height="50" alt="">
      </a>
    <div></div>
    <button type="button" class="btn btn-info margin-right-1"
        data-toggle="dropdown" fxLayout="column" fxLayoutGap="2%"
        fxLayoutAlign="start end">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Schedulings <span class="badge badge-pill custom-badge">{{ schedulingsCounter$ | async }}</span>
    </button>
</nav>